* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

/*STYLES FOR .NAV*/

.nav {
    width: 100vw;
    height: 10vh;
    box-shadow: 0 3px 6px -5px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
}

.nav a {
    text-decoration: none;
}

/*STYLES FOR .BEST_SHOP*/

.best_shop {
    margin-left: 70px;
    height: inherit;
    display: flex;
    align-items: center;
}

.best_shop a {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #08a6e4;
    font-size: 32px;
}

/*STYLES FOR .LIST*/

.list {
    margin-right: 70px;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list li {
    display: inline-block;
}

.list li:not(:last-child) {
    margin-right: 95px;
}

.list a {
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    color: #a5a5a5;
    letter-spacing: 3.28px;
    font-weight: bold;
    border-bottom: 3px solid white;
    height: 10vh;
    display: flex;
    align-items: center;
}

.list a:hover {
    color: black;
    border-bottom: 3px solid #08a6e4;
}

/*STYLES FOR HEADER*/

/*STYLES FOR .OPENING*/

.opening {
    width: 440px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 130px auto 50px auto;
}

.opening p:first-child {
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
    margin-bottom: 20px;
}

.opening p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 40px;
}

.opening button {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background: #08A6E4;
    border: none;
    border-radius: 40px;
    box-shadow: 5px 10px 14px 0px #07ACE629;
    padding: 20px 140px;
}

.background {
    background: url("../images/Background.png");
    background-size: cover;
    background-position: center;
    width: calc(100vw - 17px);
    height: 50vh;
    margin-bottom: 50px;
}










