* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.container {
    width: 900px;
    margin: 0 auto;
}

.empty {
    width: 100%;
    /*border: 1px solid red;*/
    margin-top: 15vh;
}

/*STYLES FOR .NAV*/

.nav {
    width: 100%;
    /*height: 10vh;*/
    box-shadow: 0 3px 6px -5px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.nav a {
    text-decoration: none;
}

/*STYLES FOR .BEST_SHOP*/

.best_shop {
    margin-left: 70px;
    /*height: inherit;*/
    display: flex;
    align-items: center;
}

.best_shop a {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #08a6e4;
    font-size: 32px;
}

/*STYLES FOR .LIST*/

.list {
    margin-right: 70px;
    /*height: inherit;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list li {
    display: inline-block;
}

.list li:not(:last-child) {
    margin-right: 95px;
}

.list a {
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    color: #a5a5a5;
    letter-spacing: 3.28px;
    font-weight: bold;
    border-bottom: 3px solid white;
    height: 10vh;
    display: flex;
    align-items: center;
}

.list a:hover {
    color: black;
    border-bottom: 3px solid #08a6e4;
}

/*STYLES FOR HEADER*/

/*STYLES FOR .OPENING*/

.opening {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 130px auto 50px auto;
}

.opening p:first-child {
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
    margin-bottom: 20px;
}

.opening p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 40px;
}

.opening button {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background: #08A6E4;
    border: none;
    border-radius: 40px;
    box-shadow: 5px 10px 14px 0px #07ACE629;
    padding: 20px 140px;
}

.background {
    background: url("../images/Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*width: calc(100vw - 17px);*/
    height: 50vh;
}

/*STYLES FOR .SECTION_ICONS*/

.section_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    background: white;

}

.section_icons p:first-child {
    font-size: 36px;
    margin: 100px 0;
}

.icons {
    width: 65vw;
    display: flex;
    justify-content: space-between;
}

.red_icon, .blue_icon, .green_icon {
    position: relative;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red, .blue, .green {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.red_icon p:first-of-type, .blue_icon p:first-of-type, .green_icon p:first-of-type  {
    margin-top: 15px;
}

.red_icon p:last-of-type, .blue_icon p:not(:first-of-type), .green_icon p:not(:first-of-type)  {
    margin-top: 20px;
    font-size: 17px;
    color: #A5A5A5;
    font-weight: lighter;
}

.blue_icon p:last-of-type, .green_icon p:last-of-type {
    margin-top:5px;
    margin-bottom: 120px;
}

/*STYLE FOR RED ICON*/

.red {
    background: #FB3B64;
}

.person {
    position: absolute;
    left: 60px;
    top: 5px;
}

/*STYLES FOR BLUE ICON*/

.blue {
    background: #08A6E4;
}

.eye {
    position: absolute;
    left: 44px;
    top: 15px;
}

/*STYLES FOR GREEN ICON*/

.green {
    background: #55DFB4;
}

.catalog {
    position: absolute;
    left: 50px;
    top: 5px;
}

/*STYLES FOR .SECTION_BANNER*/

.section_banners {
    background: #F7F7F7;
    padding-top: 100px;
    padding-bottom: 100px;
}

/*STYLES FOR .BANNER_TEXT*/

.banner_red .banner_text, .banner_blue .banner_text {
    width: 50%;
    margin: 80px 0 80px 35px;

}

.banner_text p:first-child {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    /*padding-top: 100px;*/
    margin-bottom: 30px;
}

.banner_text p:last-child {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 50px;
    border-bottom: 3px solid #FB3B64;
}

.banner_blue .banner_text p:last-child {
    border-bottom: 3px solid #08A6E4;
}

.banner_green .banner_text p:last-child {
    border-bottom: 3px solid #55DFB4;
}

.banner_red, .banner_blue {
    /*width: 1015px;*/
    background: white;
    margin: 100px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

/*STYLES FOR BANNER_RED*/

.banner_red {
    margin: 0 auto;
}

.banner_img {
    width: 400px;
    /*border: 1px solid red;*/
    position: relative;
    z-index: 1;
}


.macbook {
    background: url(../images/Macbook.png);
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    position: relative;
}

.element_red {
    width: 120px;
    height: 120px;
    background: #FB3B64;
    position: absolute;
    top: 0px;
    right: 28px;
    transform: rotate(45deg);
    border-radius: 12px;
    z-index: -1;
}

/*STYLES FOR .BANNER_BLUE*/

.banner_blue {
    flex-direction: row-reverse;
}

.iphone {
    background: url(../images/iPhone.png);
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    position: relative;
}

.element_blue {
    width: 250px;
    height: 250px;
    background: #07ACE6;
    position: absolute;
    top: -10px;
    right: 130px;
    transform: rotate(45deg);
    border-radius: 181px;
    z-index: -1;
}

/*STYLES FOR .BANNER_GREEN*/

.banner_green {
    /*width: 1015px;*/
    margin: 100px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_green .banner_text {
    width: 50%;
    background: white;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    padding: 80px 0 80px 35px;
}

.banner_green .banner_img {
    width: 45%;
    height: 395px;
    background: #55DFB4;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    display: flex;
    align-items: center;

}

.trumpet {
    background: url("../images/Trumpet.png");
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;

}

/*STYLES FOR .SECTION_PRICING*/

.section_pricing  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section_pricing .pricing {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;

}

/*STYLES FOR .PRICING_PLANS*/

.pricing_plans {
    width: calc(100vw - 17px);
    display: flex;
    justify-content: space-around;
}

.pricing_red, .pricing_blue, .pricing_green {
    text-align: center;
}

.pricing_plan_featrues {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.pricing_plan_featrues p:not(:last-of-type) {
    margin-bottom: 20px;
}

/*STYLES FOR .PRICING_RED AND .PRICING_GREEN*/

.pricing_red > p:first-child, .pricing_green > p:first-child {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.pricing_red .price, .pricing_green .price {
    font-size: 46px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 14px;
}

.pricing_red .price {
    color: #FB3B64;
    margin-bottom: 60px;
}

.pricing_green .price {
    color: #55DFB4;
}

.pricing_red {
    border: 1px solid #FB3B64;
    border-radius: 18px;
    padding: 50px 100px;
    margin: 20px 0;
    position: relative;
}

.pricing_green {
    border: 1px solid #55DFB4;
    border-radius: 18px;
    padding: 50px 100px;
    margin: 20px 0;
    position: relative;
}

/*STYLES FOR .PRICING_BLUE*/

.pricing_blue > p:first-child {
    font-size: 21px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.pricing_blue .price {
    font-size: 46px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 14px;
}

.pricing_blue .price {
    color: #07ACE6;
}

.pricing_blue {
    border: 1px solid #07ACE6;
    border-radius: 18px;
    box-shadow: 0px 5px 20px 0px #07ACE629;
    padding: 50px 100px;
    position: relative;
}

.limited_offer {
    margin-bottom: 60px;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

/*STYLES FOR .BUTTON_RED .BUTTON_BLUE .BUTTON_GREEN*/

.button_red, .button_blue, .button_green {
    position: absolute;
    bottom: -20px;
    right: 85px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    border-radius: 23px;
    border: none;
    padding: 10px 50px
}

.button_red {
    background: #EB476E;
}

.button_blue {
    background: #07ACE6;
}

.button_green {
    background: #55DFB4;
}

/*ADDING .PRICING_PLANS_FEATURES ICONS*/
/*STYLES FOR .SECTION_CONTACT*/

.section_contact {
    margin: 150px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
}

/*STYLES FOR QUESTIONS*/

.questions > p:first-child {
    font-size: 49px;
    font-family: 'Raleway', sans-serif;
}

.questions > p:nth-child(2) {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}

.email_phone {
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #A5A5A5;
}

/*STYLES FOR FORM*/

.form {
    position: relative;
    width: 33vw;
}

.form_name, .form_email {
    display: flex;
    flex-direction: column;
}

.form_name input, .form_email input {
    border: none;
    border-bottom: 1px solid #95989A;
    height: 40px;
    outline: none;
}

.form_name {
    margin-bottom: 40px;
}

.form_label {
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    letter-spacing: 3.8px;
    color: #07ACE6;
}

.disclaimer {
    margin-top: 30px;
    display: flex;
    position: relative;
}

/*.disclaimer input {*/
/*    position: absolute;*/
/*    opacity: 0;*/
/*    cursor: pointer;*/
/*    height: 0;*/
/*    width: 0;*/
/*}*/

/*.checkmark {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 25px;*/
/*    width: 25px;*/
/*    background-color: #eee;*/
/*}*/

.disclaimer_text {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #707070;
}

.form_button {
    position: absolute;
    right: 0;
    bottom: -40px;
    background: #08A6E4;
    color: white;
    border: none;
    border-radius: 35px;
    box-shadow: 0px 3px 10px 5px #07ACE629;
    padding: 10px 60px;
}

/*STYLES FOR FOOTER*/

.footer {
    margin-top: 80px;
    height: 10vh;
    box-shadow: 0 0px 25px 0px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
}

.footer a {
text-decoration: none;
}

/*STYLES FOR .FOOTER .BEST_SHOP*/

.best_shop {
    margin-left: 70px;
    /*height: inherit;*/
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.footer .best_shop a {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: #08a6e4;
    font-size: 26px;
}

.footer .best_shop p {
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    color: #A5A5A5;
}

/*STYLES FOR .FOOTER_ICONS*/

.footer_icons {
    margin-right: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer_icons svg {
    margin-right: 20px;
}

/*STYLES FOR ALL BUTTONS PSEUDO CLASSES*/

.opening button:active, .form_button:active, .button_blue:active {
    background: #069acf;
    box-shadow: inset 0px 0px 2px 2px #f8f8f8;
}

.opening button:hover, .form_button:hover, .button_blue:hover {
    background: #069acf;
}

.button_red:active {
    background: #e1355a;
    box-shadow: inset 0px 0px 2px 2px #f8f8f8;
}

.button_red:hover {
    background: #e1355a;
}

.button_green:active {
    background: #4cc8a2;
    box-shadow: inset 0px 0px 2px 2px #f8f8f8;
}

.button_green:hover {
    background: #4cc8a2;
}


